#hero {
    font-family: sans-serif;
    height: fit-content;
    width: 100%;
    background-color: #2a313e;
    padding-top: 200px;
    padding-bottom: 40px;
}

#hero h1 {
    font-weight: bold;
    font-size: 50px;
    letter-spacing: normal;
    line-height: 60px;
}

#hero h3 {
    font-size: 2em;
}

#phone1 {
    width: 100%;
    margin-top: 30px;
}

.find {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.find h6 {
    font-weight: bold;
    font-size: medium;
    width: 80%;
}

.icon {
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    border: 2px solid #cacaca;
}

.stepcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.steps {
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
}

.steps2 {
    width: 80%;
}

.circled {
    width: 62px;
    height: 62px;
    border: 2px solid #cacaca;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fafafa;
    padding: 2px;
}

.line {
    width: 2px;
    height: 70px;
    background-color: #cacaca;
    border: 2px solid #7b4bf5;
}

#why {
    background-image: url('../images/why\ \(2\).svg');
    height: fit-content;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fafafa;
    padding-top: 0;
    margin-top: 0;
}

.bigcircle {
    width: 170px;
    height: 170px;
    border-radius: 1000px;
    background-color: rgb(122, 200, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 200px;
    border-radius: 12px;
    width: 100%;
}

.bg-black {
    background-color: #2a313e;
}

.compat {
    height: 70vh;
    background-image: url('../images/step-phone3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.compat2 {
    height: 100%;
    background-color: rgba(123, 75, 245, .8);
}

.product {
    height: 100%;
    background-color: rgba(123, 75, 245, .8);
    background-image: url('../images/step-phone3.png');
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

.borderless {
    border: none;
}

textarea:focus,
.borderless:focus {
    border: none;
    outline: none;
}

.square {
    width: 90px;
    height: 90px;
    border-radius: 12px;
    background-color: rgba(123, 75, 245, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fafafa;
}

.demobtn {
    border: 2px solid #7b4bf5;
}