body {
    margin: 0;
    font-family: 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.primary {
    background-color: #7b4bf5;
    color: #fafafa
}

.textprimary {
    color: #7b4bf5;
}

.shadow {
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.5);
}